html {
    background-color: #000020;
    font-family: 'Ubuntu Mono', monospace;
    padding: 5px;
    padding-left: 5px;
    color: #ffffff;
}

header {
    background-color: #000000;
    border-radius: 10px;
    padding-top: 10px;
    padding: 10px;
}

menu {
    padding: 0px;
    margin: 0px;
    align-items: center;
}

.terminalButton {
    display: inline-block;
    cursor: pointer;
    box-shadow: 0px 5px #1f003f;
    border-radius: 10px;
    background-color: #7f00ff;
    padding: 10px;
    border: 0;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 0px;
}

.terminalButton:hover {
    background-color: #3f007f;
}

.terminalButton:active {
    top: 3px;
    box-shadow: 0px 2px #1f003f;
    border-radius: 10px;
    background-color: #3f007f;
}

.terminalTextInput {
    border-radius: 10px;
    padding: 10px;
    background-color: #7f00ff;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    box-shadow: 0px 5px #1f003f;
    border: 2px #3f007f;
    margin-bottom: 10px;
}

textarea.codeshowcase {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    resize: none;
    border: none;
    padding: 10px;
}

h2 {
    margin: 0;
}

.gridrow{
    display: grid;
    grid-auto-flow: column;
    width: 50%;
}

.gi {
    width: 95%;
    height: 300px;

    display: inline;
    cursor: pointer;
    box-shadow: 0px 5px #1f003f;
    border-radius: 10px;
    background-color: #7f00ff;
    padding: 0px;
    border: 0;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    position: relative;
    display:inline-block; /* keep the inline nature of buttons */
    align-items: flex-start; /* this is default */
    top: 0px;
}

.gi:hover {
    background-color: #3f007f;
}

.gi:active {
    top: 3px;
        box-shadow: 0px 2px #1f003f;
    border-radius: 10px;
    background-color: #3f007f;
}

.gridimg {
    margin: 0;
    padding: 0;
    height: 30%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.terminalTextBox {
    display: inline-block;
    cursor: pointer;
    box-shadow: 0px 5px #1f003f;
    border-radius: 10px;
    background-color: #7f00ff;
    padding: 10px;
    border: 0;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 0px;
}

.invertedCircle {
    background-color: transparent;
    filter: invert(100%);
}